<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-init-method="init"
       default-destroy-method="destroy">
    <!--BeanPostProcessor-->
    <bean class="InitHelloWorld"/>
    <!--豆子模板（抽象的父豆子）-->
    <bean id="beanTemplate" abstract="true">
        <!--<property name="message" value="Hello World!"/>-->
    </bean>
    <!--继承豆子模板-->
    <bean id="cloudAuth" class="net.clickwifi.cloud.auth.CloudAuth" parent="beanTemplate">
        <constructor-arg>
            <bean id="beilianAuth" class="net.clickwifi.cloud.auth.BeilianAuth"/>
        </constructor-arg>
    </bean>

</beans>
